---

---

<footer class="mt-auto border-t border-zinc-800/50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div class="flex flex-col items-center justify-center gap-4">
      <div class="flex items-center gap-3">
        <div class="text-sm text-zinc-500">
          <span class="text-zinc-400">Desarrollado por</span>
          <a
            href="https://stephanofer.com"
            rel="noopener noreferrer"
            target="_blank"
            class="text-purple-400 hover:underline"
          >
            stephanofer</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
